<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>statistics</title>
</head>
<body>
    <h1>statistics</h1>
    <h2>second title</h2>

      <table>
        <tr>
          <th>Methods</th>
          <th>Counts</th>
        </tr>
        <tr>
          {% for key, value in methods_counts.items() %}
          <td>{{ key|e }}</td>
          <td>{{ value|e }}</td>
          {% endfor %}
        </tr>
      </table>

      <dl>
        {% for key, value in methods_counts.items() %}
            <dt>{{ key }}</dt>
            <dd>{{ value }}</dd>
        {% endfor %}
        </dl>
      <a href="/">back to the main page</a>
      <nav>
        <a href="{{ url_for('main_page') }}">index</a>
        <a href="{{ url_for('post_counter') }}">request-counter</a>
    </nav>
</body>
</html>